<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <meta charset="utf-8"/>
    <title>Designer</title>
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900'
          rel='stylesheet' type='text/css'/>

    <!-- JsonEditor -->
    <link href="${facesContext.externalContext.requestContextPath}/resources/lib/jsoneditor/jsoneditor.min.css"
          rel="stylesheet" type="text/css"/>
    <script src="${facesContext.externalContext.requestContextPath}/resources/lib/jsoneditor/jsoneditor.min.js"/>

    <link type="text/css"
          href="${facesContext.externalContext.requestContextPath}/resources/css/home/style.css"
          rel="stylesheet"/>
    <link type="text/css"
          href="${facesContext.externalContext.requestContextPath}/resources/css/animate.css"
          rel="stylesheet"/>
    <script src="${facesContext.externalContext.requestContextPath}/resources/javascript/home/main.js"/>
</h:head>
<h:body>
    <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" width="100%"
              resizable="false" showHeader="false" styleClass="transparent" height="100vh">
        <div class="loading">
            <div class="loader"/>
        </div>
    </p:dialog>
    <p:ajaxStatus updateonstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"/>
    <h:form id="headerWrapperForm">
        <p:growl id="msg" showDetail="true" life="5000" autoUpdate="true" globalOnly="true"/>
        <p:menubar styleClass="menu-bar">
            <f:facet name="options">
                <p:commandLink action="#{loginController.logout}" ajax="true">
                    <h:graphicImage name="images/logout.png" style="height: 32px; width: 32px;"/>
                </p:commandLink>
            </f:facet>
        </p:menubar>
    </h:form>
    <div id="container" class="container">
        <nav class="nav-bar">
            <ul style="height: 100%; position: relative;">
                <li class="active"><a href="#nodes" id="nodeTabSelector" ><p:outputLabel value="#{msg.nodes}"/></a></li>
                <li style="margin-left: 20px; display: none;"><a id="serviceTabSelector" href="#services"><p:outputLabel value="#{msg.services}"/></a></li>
                <li ><a href="#commands" id="commandTabSelector"><p:outputLabel value="#{msg.cmds}"/></a></li>
                <li style="position: absolute; bottom: 40px;">
                    <a target="_blank" href="http://master.icinga.localdomain/icingaweb2" id="consoleNav">
                        <p:outputLabel value="#{msg.goto}" style="font-size: large;"/>
                    </a>
                </li>
            </ul>
        </nav>
        <h:form id="registerNodeForm">
            <p:dialog widgetVar="registerNodeDialog" modal="true" draggable="false" position="center center"
                      resizable="false" header="#{msg.nodeCfg}">
                <div class="box">
                    <p:panel id="registerNodePanel">
                        <p:outputLabel for="nodeName" value="#{msg.nodeName}"/>
                        <br/>
                        <p:inputText id="nodeName"
                                     value="#{manager.newElement.name}" required="true"/>
                        <br/>
                        <p:outputLabel for="nodeServices" value="#{msg.servicesSel}"/>
                        <br/>
                        <p:selectCheckboxMenu id="nodeServices" value="#{manager.newElement.nodeServices}"
                                              var="ss" converter="icingaConverter" multiple="true"
                                              name="command" label="#{msg.servicesLbl}" effect="fade" filter="true"
                                              filterMatchmode="contains" style="margin-bottom: 20px;
                                              width: 205px;" converterType="command">
                            <f:selectItems value="#{manager.commands}" var="command"
                                           itemLabel="#{command.name}"
                                           itemValue="#{command}"/>
                        </p:selectCheckboxMenu>
                        <br/>
                        <p:outputLabel for="nodeAddress" value="#{msg.ip}"/>
                        <br/>
                        <p:inputText id="nodeAddress"
                                     value="#{manager.newElement.nodeAddress}" required="true"/>
                        <br/>
                        <p:outputLabel for="os" value="#{msg.os}"/>
                        <br/>
                        <p:inputText id="os" value="#{manager.newElement.nodeOs}" feedback="false"/>
                        <br/>
                        <p:commandButton id="submitNode" action="#{manager.create('node')}"
                                         value="#{msg.btnSbmt}" update="registerNodePanel :mainPanelForm:node"
                                         ajax="true"
                                         oncomplete="if (!args.validationFailed) PF('registerNodeDialog').hide();">
                        </p:commandButton>
                    </p:panel>
                </div>
            </p:dialog>
        </h:form>
        <h:form id="registerServiceForm">
            <p:dialog widgetVar="registerServiceDialog" modal="true" draggable="false" position="center center"
                      resizable="false" header="#{msg.serviceCfg}">
                <div class="box">
                    <p:panel id="registerServicePanel">
                        <br/>
                        <p:outputLabel for="serviceName" value="#{msg.serviceName}"/>
                        <br/>
                        <p:inputText id="serviceName"
                                     value="#{manager.newElement.name}" required="true"/>
                        <p:outputLabel for="serviceCommand" value="#{msg.serviceCmd}"/>
                        <br/>
                        <p:selectOneMenu id="serviceCommand" value="#{manager.newElement.serviceCommand}"
                                         var="sc" styleClass="form-selector-one" converterType="command"
                                         converter="icingaConverter" effect="fade" filter="true"
                                         filterMatchMode="contains" required="true">
                            <f:selectItem itemValue="#{null}" itemLabel="#{msg.cmdSelLbl}"/>
                            <f:selectItems value="#{manager.commands}" var="command"
                                           itemLabel="#{command.name}" itemValue="#{command}"/>
                            <p:column>
                                <h:outputText value="#{sc.name}"/>
                            </p:column>
                        </p:selectOneMenu>
                        <br/>
                        <p:commandButton id="submitService" action="#{manager.create('service')}"
                                         value="#{msg.btnSbmt}" update="registerServicePanel :mainPanelForm:service" ajax="true"
                                         oncomplete="if (!args.validationFailed) PF('registerServiceDialog').hide();">
                        </p:commandButton>
                    </p:panel>
                </div>
            </p:dialog>
        </h:form>
        <h:form id="registerCommandForm">
            <p:dialog widgetVar="registerCommandDialog" modal="true" draggable="false" position="center center"
                      resizable="false" header="#{msg.cmdCfg}">
                <div class="box">
                    <p:panel id="registerCommandPanel">
                        <p:outputLabel for="commandName" value="#{msg.cmdName}"/>
                        <br/>
                        <p:inputText id="commandName"
                                     value="#{manager.newElement.name}" required="true"/>
                        <br/>
                        <p:outputLabel for="commandType" value="#{msg.cmdType}"/>
                        <br/>
                        <p:selectOneMenu id="commandType" value="#{manager.newElement.commandType}"
                                         var="ct" styleClass="form-selector-one" effect="fade">
                            <f:selectItem itemLabel="#{msg.chk}" itemValue="CheckCommand"/>
                            <f:selectItem itemLabel="#{msg.ntf}" itemValue="NotificationCommand"/>
                            <f:selectItem itemLabel="#{msg.evt}" itemValue="EventCommand"/>
                        </p:selectOneMenu>
                        <br/>
                        <p:outputLabel for="commandBins" value="#{msg.cmdBins}"/>
                        <br/>
                        <p:inputText id="commandBins" title="#{msg.cmdBinsTips}"
                                     value="#{manager.newElement.commandBinsList}" required="true"/>
                        <p:tooltip id="commandBinsTooltip" for="commandBins" showEvent="focus" hideEvent="blur" position="top"/>
                        <br/>
                        <p:commandButton id="submitCommand" action="#{manager.create('command')}"
                                         value="#{msg.btnSbmt}" update="registerCommandPanel :mainPanelForm:command :registerServiceForm:serviceCommand" ajax="true"
                                         oncomplete="if (!args.validationFailed) PF('registerCommandDialog').hide();">
                        </p:commandButton>
                    </p:panel>
                </div>
            </p:dialog>
        </h:form>
        <h:form style="height: 100%;" id="mainPanelForm">
            <p:remoteCommand name="onload" action="#{manager.reset}" autoRun="true"
                             update="command node service"/>
            <p:remoteCommand name="getJsonInJSF" id="getJsonInJSF" action="#{manager.setJson}"
                             process="@this"/>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>
            <div class="table" id="nodes">
                <div id="nodesHeader" class="table-row table-header">
                    <h:panelGrid columns="2" style="margin-top:20px" cellpadding="5">
                        <p:selectOneMenu id="node" value="#{manager.node}" var="n"
                                         styleClass="selector" converterType="node"
                                         converter="icingaConverter" effect="fade" filter="true"
                                         filterMatchMode="contains">
                            <p:ajax listener="#{manager.getSettings('node')}"
                                    event="change" oncomplete="updateNodes(args.json)"
                                    update="service deleteNode updateNode"/>
                            <f:selectItem itemValue="#{null}" itemLabel="#{msg.nodeSel}"/>
                            <f:selectItems value="#{manager.nodes}" var="node"
                                           itemLabel="#{node.name}" itemValue="#{node}"/>
                            <p:column>
                                <h:outputText value="#{n.name}"/>
                            </p:column>
                        </p:selectOneMenu>
                    </h:panelGrid>
                </div>
                <div id="nodesContent" class="table-row table-content editor"/>
                <div id="nodesFooter" class="table-row table-footer">
                    <p:commandButton id="registerNode" value="#{msg.nodeBtnReg}" icon="fa fa-plus"
                                     onclick="PF('registerNodeDialog').show();" ajax="true"/>
                    <p:commandButton id="updateNode" value="#{msg.nodeBtnUp}" icon="fa fa-save" ajax="true"
                                     action="#{manager.update('node')}"
                                     disabled="#{empty manager.node}" onclick="getJson('node');">
                        <p:confirm header="#{msg.confirm}" message="#{msg.nodeBtnUpOk}" icon="ui-icon-alert" />
                    </p:commandButton>
                    <p:commandButton id="deleteNode" value="#{msg.nodeBtnDel}" icon="fa fa-remove" ajax="true"
                                     action="#{manager.delete('node')}" disabled="#{empty manager.node}"
                                     update="node service @this updateNode updateService deleteService" oncomplete="nodeDeleted()">
                        <p:confirm header="#{msg.confirm}" message="#{msg.nodeBtnDelOk}" icon="ui-icon-alert" />
                    </p:commandButton>
                </div>
            </div>
            <div class="table" id="services">
                <div id="servicesHeader" class="table-row table-header">
                    <h:panelGrid columns="2" style="margin-top:20px" cellpadding="5">
                        <p:selectOneMenu id="service" value="#{manager.service}" var="s"
                                         styleClass="selector" converterType="service"
                                         converter="icingaConverter" effect="fade" filter="true"
                                         filterMatchMode="contains">
                            <p:ajax listener="#{manager.getSettings('service')}"
                                    event="change" oncomplete="updateServices(args.json)"
                                    update="updateService deleteService"/>
                            <f:selectItem itemValue="#{null}" itemLabel="#{msg.serviceSel}"/>
                            <f:selectItems value="#{manager.node.services}" var="service"
                                           itemLabel="#{service.name}" itemValue="#{service}"/>
                            <p:column>
                                <h:outputText value="#{s.name}"/>
                            </p:column>
                        </p:selectOneMenu>
                    </h:panelGrid>
                </div>
                <div id="servicesContent" class="table-row table-content editor"/>
                <div id="servicesFooter" class="table-row table-footer">
                    <p:commandButton id="registerService" value="#{msg.serviceReg}" icon="fa fa-plus"
                                     onclick="PF('registerServiceDialog').show();"/>
                    <p:commandButton id="updateService" value="#{msg.serviceBtnUp}" icon="fa fa-save" ajax="true"
                                     action="#{manager.update('service')}" disabled="#{empty manager.service}"
                                     onclick="getJson('service');">
                        <p:confirm header="#{msg.confirm}" message="#{msg.serviceBtnUpOk}" icon="ui-icon-alert" />
                    </p:commandButton>
                    <p:commandButton id="deleteService" value="#{msg.serviceBtnDel}" icon="fa fa-remove" ajax="true"
                                     action="#{manager.delete('service')}" disabled="#{empty manager.service}"
                                     update="service @this updateService" oncomplete="serviceDeleted()">
                        <p:confirm header="#{msg.confirm}" message="#{msg.serviceBtnDelOk}" icon="ui-icon-alert" />
                    </p:commandButton>
                </div>
            </div>
            <div id="commands" class="table">
                <div id="commandsHeader" class="table-row table-header">
                    <h:panelGrid columns="2" style="margin-top:20px;" cellpadding="5">
                        <p:selectOneMenu id="command" value="#{manager.command}" var="c"
                                         converter="icingaConverter" effect="fade" filter="true"
                                         filterMatchMode="contains"
                                         styleClass="selector" converterType="command">
                            <p:ajax listener="#{manager.getSettings('command')}"
                                    event="change" oncomplete="updateCommands(args.json)"
                                    update="updateCommand deleteCommand"/>
                            <f:selectItem itemValue="#{null}" itemLabel="#{msg.cmdSel}"/>
                            <f:selectItems value="#{manager.commands}" var="command"
                                           itemLabel="#{command.name}"
                                           itemValue="#{command}"/>
                            <p:column>
                                <h:outputText value="#{c.name}"/>
                            </p:column>
                        </p:selectOneMenu>
                    </h:panelGrid>
                </div>
                <div id="commandsContent" class="table-row table-content editor"/>
                <div id="commandsFooter" class="table-row table-footer">
                    <p:commandButton id="registerCommand" value="#{msg.cmdReg}" icon="fa fa-plus"
                                     onclick="PF('registerCommandDialog').show();"/>
                    <p:commandButton id="updateCommand" value="#{msg.cmdUp}" icon="fa fa-save" ajax="true"
                                     action="#{manager.update('command')}" disabled="#{empty manager.command}"
                                     onclick="getJson('command')">
                        <p:confirm header="#{msg.confirm}" message="#{msg.cmdUpOk}" icon="ui-icon-alert" />
                    </p:commandButton>
                    <p:commandButton id="deleteCommand" value="#{msg.cmdDel}" icon="fa fa-remove" ajax="true"
                                     action="#{manager.delete('command')}" disabled="#{empty manager.command}"
                                     update="command @this updateCommand service updateService deleteService" oncomplete="commandDeleted()">
                        <p:confirm header="#{msg.confirm}" message="#{msg.cmdDelOk}" icon="ui-icon-alert" />
                    </p:commandButton>
                </div>
            </div>
        </h:form>
    </div>
</h:body>
</html>