* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  min-height: 600px;
  min-width: 1200px;
}
body {
  height: 100%;
  display: flex;
  flex-direction:column;
  background: #ccc;
  background-size: cover;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 0;
  color: #666;
}

h1 {
  font-family: arial, sans-serif;
  font-weight: 400;
  height: 60px;
  width: 100%;
  background: #16A5C7;
  line-height: 60px;
  color: white;
}

.nav-bar {
  width: 350px;
  background: #4f4f4f;
  float: left;
  margin-left: 20px;
  height: 100%;
  padding-left: 5px;
  padding-top: 10px;
}

.nav-bar a {
  text-decoration: none;
  color: white;
  font-size: xx-large;
  padding: 10px 100px 10px 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 900;
}

.nav-bar ul li{
  list-style-type: none;
  display: block;
  padding: 15px;
}

.nav-bar ul li:hover {
  background: #ccc;
  transition: linear all 0.40s;
  margin-left: 10px
}

.nav-bar ul a:hover {
  color: white;
}

.active {
  background: #ccc;
}

.active a{
  color: white;
}

.menu-bar {
  background: transparent;
  border: 0;
  border-radius: 0;
}

.container {
  flex: 1;
  overflow: hidden;
  margin-bottom: 30px;
}

/*.logout-btn {
  padding: .3em 1em !important;
  color: #ccc !important;
  text-transform: uppercase !important;
  font-weight: 900 !important;
  font-size: 0.7em !important;
  letter-spacing: 1px !important;
  margin-top: 0 !important;
  border: 0 !important;
  border-radius: 2px !important;
  background-color: #4f4f4f !important;
  cursor: pointer !important;
}*/

tr[data-label~="Select"] {
  display: none !important;
}


.editor {
  background: white;
  margin-top: 30px;
  margin-right: 60px;
  margin-bottom: 30px;
  flex: 1;
}

.transition {
  height: 100%;
}

.selector {
  width: 500px !important;
}
.form-selector-one {
  width: 170px !important;
  min-width: 170px !important;
  margin-bottom: 20px;
}

.form-selector-list {
  width: 230px !important;
  margin-bottom: 20px;
}

.table {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-flow: column;
  padding-left: 30px;
}

.table .table-row {
}

.table .table-row.table-header {
  flex: 0 1 auto;
}

.table .table-row.table-content {
  flex: 1 1;
  display: flex;
}

.table .table-row.table-footer {
  flex: 0 1 40px;
  direction: rtl;
  margin-right: 60px;
}

.table-footer button:first-child {
  margin-right: 0px;
}

.table-footer > button {
  margin-right: 16px;
  width: 220px;
}

.ui-selectonemenu label.ui-selectonemenu-label {
  text-align: center;
}

.loading {
  position: fixed;
  top: 0; right: 0;
  bottom: 0; left: 0;
  background: transparent;
}
.loader {
  left: 50%;
  margin-left: -4em;
  font-size: 10px;
  border: .8em solid rgba(218, 219, 223, 1);
  border-left: .8em solid rgba(58, 166, 165, 1);
  animation: spin 1.1s infinite linear;
}
.loader, .loader:after {
  border-radius: 50%;
  width: 8em;
  height: 8em;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -4.05em;
}

.transparent {
  background-color: transparent;
  border: none;
  box-shadow: none;
  text-align: center;
}

.box {
  margin: 0 auto;
  text-align: center;
  width: 350px;
}

.box label {
  font-weight: 700;
  font-size: .8em;
  color: #888;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 2em;
}

.box input {
  margin-bottom: 20px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: .9em;
  color: #888;
  direction: ltr;
}

.box input:focus {
  outline: none;
  border-color: #4f4f4f;
  transition: 0.5s;
  color: #4f4f4f;
}

.box button {
  margin-top: 0px;
  border: 0;
  border-radius: 2px;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.7em;
  letter-spacing: 1px;
  margin-left: 5px;
  cursor:pointer;
  outline: none;
}

.box button:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.box button:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.ui-dialog-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-top {
  background: #4f4f4f;
  color: white;
  letter-spacing: 0.2em;
}

.ui-tooltip.ui-tooltip-top {
  z-index: 10000 !important;
}

.register-dropdown {
  margin-bottom: 20px !important;
  width: 250px !important;
}