<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<h:head>
  <meta charset="utf-8"/>
  <title>Login Page</title>

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'/>

  <link type="text/css"
        href="${facesContext.externalContext.requestContextPath}/resources/css/login/style.css"
        rel="stylesheet" />
  <link type="text/css"
        href="${facesContext.externalContext.requestContextPath}/resources/css/animate.css"
        rel="stylesheet" />
</h:head>

<h:body>
  <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" width="100%"
            resizable="false" showHeader="false" styleClass="transparent" height="100vh">
    <div class="loading">
      <div class="loader"/>
    </div>
  </p:dialog>
  <div class="container">
    <div class="login-box animated fadeInUp">
      <div class="box-header">
        <h2>Log In</h2>
      </div>
      <h:form id="loginForm">
        <p:growl id="msg" showDetail="true" life="4000" />
        <p:outputLabel for="username" value="#{msg.user}"/>
        <br/>
        <p:inputText id="username"
                     value="#{loginController.login.username}" required="true"/>
        <br/>
        <p:outputLabel for="password" value="#{msg.pwd}"/>
        <br/>
        <p:password id="password" value="#{loginController.login.password}"
                    required="true" feedback="false"/>
        <br/>
        <p:commandButton id="loginButton" action="#{loginController.login}"
                         value="Login" update="loginForm" ajax="true">
        </p:commandButton>
      </h:form>
    </div>
  </div>
  <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
</h:body>

<script>
  $(document).ready(function () {
    $('#logo').addClass('animated fadeInDown');
    $("input:text:visible:first").focus();
  });
  $('#username').focus(function() {
    $('label[for="username"]').addClass('selected');
  });
  $('#username').blur(function() {
    $('label[for="username"]').removeClass('selected');
  });
  $('#password').focus(function() {
    $('label[for="password"]').addClass('selected');
  });
  $('#password').blur(function() {
    $('label[for="password"]').removeClass('selected');
  });
</script>
</html>